@import url('nav.css');
@import url('header.css');
@import url('about.css');
@import url('skills.css');
@import url('work.css');
@import url('contact.css');
@import url('footer.css');

body{
    background-color: #0f1111;
    background-image: url('../images/bgg/bgg.svg');
    background-size: cover;
    background-repeat:repeat;
}

*{
}

/*
COLORS
    red: #e61515
    gray for texts: rgb(193, 185, 185)
*/